<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="headline">
      <span>Kipper consultoria</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img
      ngSrc="assets/images/principal.png"
      priority
      width="640"
      height="510"
    />
  </section>

  <section class="benefit-section pad-70">
    <div class="benefit-data"><h2>95% das empresas</h2></div>

    <p>
      não sabem como lidar com problemas de <b>escalibilidade</b> e grande
      volume de requisições.
    </p>
  </section>

  <section class="cta-section">
    <button-primary btn-text="fale com nossos especialistas"></button-primary>
  </section>

  <newsletter-form></newsletter-form>
</main>
